html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    /* fr en vh combineren lijkt niet echt te werken om iets full-screen te krijgen */
    grid-template-areas:
        "header header header"
        "sidebar-left main-content sidebar-right"
        "sidebar-left footer footer";
}

.navbar {
    background: lightseagreen;
    padding: 1rem;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 5vh;
    grid-template-areas:
        "title . nav-list";
    align-content: center;
}

.nav-title {
    color: white;
    align-self: center;
}

    .nav-title h1 {
        font-size: 24px;
    }

.nav-list {
    grid-area: nav-list;
} 

    .nav-list ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            list-style-type: none;
            justify-items: center;
            margin-right: 0.8rem;
    }
    /*Nog een iets te grote uitdaging om te zorgen dat ruimte tussen de woorden gelijk is*/
    

    .nav-list a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

.sidebar {
    background: lightgrey;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        ". title ."
        ". img ."
}

.sidebar-left {
    grid-area: sidebar-left;
}

.sidebar-right {
    grid-area: sidebar-right;
}

.sidebar h2 {
    font-size: 16px;
    grid-area: title;
}

.sidebar figure {
    grid-area: img;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.main-content {
    background: lightgoldenrodyellow;
    grid-area: main-content;
    padding: 1rem;
}

.footer {
    background: lightseagreen;
    grid-area: footer;
    padding: 1rem;
}
