html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    /* minmax gebruiken voor responsiveness, min mag best in px */
    grid-template-rows: auto 1fr auto;
    /* header en footer kunnen ook fixed hoogte hebben, obv rem en auto */
    /* met % oplossen. Iets heeft altijd breedte maar geen hoogte. 
    Met % kijkt ie altijd naar de parent, dus dan ook html 100%*/
    grid-template-areas:
        "header         header          header"
        "sidebar-left   main-content    sidebar-right"
        "sidebar-left   footer          footer";
}

.navbar {
    background: lightseagreen;
    padding: 1rem;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* Kan ook in 2 kolommen waarschijnlijk, list is zelf weer grid */
    grid-template-rows: 5vh;
    grid-template-areas:
        "title . nav-list";
    align-content: center;
}

.nav-title {
    color: white;
    align-self: center;
}

    .nav-title h1 {
        font-size: 1.5rem;
    }

.nav-list {
    grid-area: nav-list;
} 

    .nav-list ul {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: auto;
            grid-auto-rows: auto;
            grid-gap: 1rem;
            list-style-type: none;
            justify-items: center;
            margin-right: 0.8rem;
        /* met flexbox en flex-wrap is handiger voor responsiveness, 
        dan wel margin op de items */
    }

    .nav-list a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

.sidebar {
    background: lightgrey;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr; 
    grid-template-rows: auto 1fr;
    grid-template-areas:
        ". title ."
        ". img ."
}

.sidebar-left {
    grid-area: sidebar-left;
}

.sidebar-right {
    grid-area: sidebar-right;
}

.sidebar h2 {
    font-size: 1rem;
    grid-area: title;
}

.sidebar figure {
    grid-area: img;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 0;
}

.main-content {
    background: lightgoldenrodyellow;
    grid-area: main-content;
    padding: 1rem 2rem;
}

.footer {
    background: lightseagreen;
    grid-area: footer;
    padding: 0.5rem;
    color: white;
    display: grid;
    /* kan ook met flex, meer controle voor toekomst*/
    justify-items: center;
}